{namespace com.mrozekma.atlassian.bitbucket.pluginFields}

/**
 * Global custom fields settings
 */
{template .global_settings}
<html>
<head>
<meta name="decorator" content="atl.admin">
<meta name="activeTab" content="project-fields-global-settings-web-item">
<title>Custom project fields</title>
</head>
<body>
<h2>Custom project fields</h2>
Foobar
</body>
</html>
{/template}
